html {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

main {
	background-color: black;
}

/* Header */
header {
	border-bottom: 1px solid seashell;
	height: 69px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
}

header img {
	height: 50px;
	width: auto;
	margin: 0 10px;
}

header ul li {
	list-style: none;
	text-decoration: underline;
}

header a {
	color: inherit;
}

header nav {
	width: 35%;
}

header ul {
	display: flex;
	justify-content: space-around;
}

/* Main */
#header {
	margin: 69px auto;
	background-image: url("../images/img-mission-background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mission {
	background-color: black;
	width: 100%;
	text-align: center;
}

#tea {
	text-align: center;
	margin: 0 auto;
	width: 1200px;
}

.tea-list {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.tea-item {
	width: 300px;
	margin: 10px;
}

.tea-item img {
	width: 100%;
	margin-bottom: 10px;
}

.tea-item h4 {
	margin: 0;
}
